body {
    margin: 50px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
a {
    text-decoration: none;
    color: #FFFFFF;
    background: #990000;
    padding: 0 0.5em;
}
a:hover {
    /*text-decoration: underline;*/
    background: #000000;
}
h1 {
    font-size: 3em;
    font-weight: normal;
    color: #666;
}
h2 {
    padding-top: 5em;
    font-size: 2em;
    font-weight: normal;
    line-height: 2em;
    color: #666;
}
p {
    font-size: 1em;
    line-height: 1.7em;
    color: #666;
    padding-left: 0.5em;
}
